//Значения используемых цветов

//Основные
$primary-color: #e6e7eb;
$primary-color-dark: #bebfc5;
$secondary-color: #fff;

//Акцентные
$accent-red: #ed2839;
$accent-blue: #5865f2;
$accent-green: #00ad83;

//Дополнительные
$shadow: #888;
